* {
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-one {
    background-color: #1F2937;
    color: white;
}

.bg-two {
    background-color: #e5e7eb;
}

.call-to-action {
    background-color: #3882f6;
}

.hero-text {
    font: 48px #f9faf8;
    font-weight: 900;
}

.hero-side {
    font: 18px #e5e7eb;
}

.informational-text {
    font: 36px #1F2937;
    font-weight: 900;
}

blockquote {
    font: 36px light italic #1f2937;
}

body {
    display: flex;
    flex-direction: column;
}

header, div, footer {
    padding: 50px 100px;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
}

.logo {
    margin-right: auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-wrapper {
    display: flex;
    justify-content: center;
}

.info-piece {
    padding: 10px;
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
}