* {
    font-family: 'Roboto', 'Arial', sans-serif;
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-one {
    background-color: #1F2937;
    color: white;
}

.bg-two {
    background-color: #e5e7eb;
}

.horizontal {
    display: flex;
}

.hero-text {
    width: 500px;
    padding: 15px;
}

.hero-img {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.call-to-action {
    background-color: #3882f6;
}

.hero-text > h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text > p {
    font-size: 18px;
    color: #e5e7eb;
}

.informational-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

blockquote {
    font-size: 36px light italic;
    color: #1f2937;
}

body {
    display: flex;
    flex-direction: column;
}

header, div, footer {
    padding: 50px 100px;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
}

.logo {
    margin-right: auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-wrapper {
    display: flex;
    justify-content: center;
}

.info-piece {
    padding: 10px;
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
}
